
.vs/Relational Database/FileContentIndex/c5158bb9-661c-4bab-a2a0-423835b27efe.vsidx
.vs/Relational Database/FileContentIndex/read.lock
.vs/Relational Database/v17/.suo
.vs/Relational Database/v17/Browse.VC.db
.vs/Relational Database/v17/Browse.VC.db-shm
.vs/Relational Database/v17/Browse.VC.db-wal
.vs/Relational Database/v17/Browse.VC.opendb
Relational Database.sln
Relational Database.vcxproj
Relational Database.vcxproj.filters
Relational Database.vcxproj.user
.vs/Relational Database/v17/ipch/AutoPCH/a1ea0ffd0ab6c179/TOKENIZER.ipch
.vs/Relational Database/v17/ipch/AutoPCH/4adcb15269a53382/APPCONTROLLER.ipch
.vs/Relational Database/v17/ipch/AutoPCH/1f017083594b4cb8/MAIN.ipch
.vs/Relational Database/FileContentIndex/75c72381-53fa-4009-baf5-cf37fdb2dbf9.vsidx
.vs/Relational Database/FileContentIndex/73e763df-77e6-4478-9587-4d891c946387.vsidx
.vs/Relational Database/FileContentIndex/64e71def-fe3a-416e-b0ec-b07851359d6f.vsidx
.vs/Relational Database/FileContentIndex/19599006-1480-46e6-be00-a2eb3502036a.vsidx
x64/Debug/Relation.A65C7731.tlog/CL.command.1.tlog
x64/Debug/Relation.A65C7731.tlog/Relational Database.lastbuildstate
x64/Debug/Relation.A65C7731.tlog/unsuccessfulbuild
x64/Debug/Relational Database.Build.CppClean.log
x64/Debug/Relational Database.log
x64/Debug/Relational Database.vcxproj.FileListAbsolute.txt
x64/Debug/Tokenizer.obj
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
