
.vs/Relational Database/FileContentIndex/c5158bb9-661c-4bab-a2a0-423835b27efe.vsidx
.vs/Relational Database/FileContentIndex/read.lock
.vs/Relational Database/v17/.suo
.vs/Relational Database/v17/Browse.VC.db
.vs/Relational Database/v17/Browse.VC.db-shm
.vs/Relational Database/v17/Browse.VC.db-wal
.vs/Relational Database/v17/Browse.VC.opendb
Relational Database.sln
Relational Database.vcxproj
Relational Database.vcxproj.filters
Relational Database.vcxproj.user
.vs/Relational Database/v17/ipch/AutoPCH/a1ea0ffd0ab6c179/TOKENIZER.ipch
.vs/Relational Database/v17/ipch/AutoPCH/4adcb15269a53382/APPCONTROLLER.ipch
.vs/Relational Database/v17/ipch/AutoPCH/1f017083594b4cb8/MAIN.ipch
.vs/Relational Database/FileContentIndex/75c72381-53fa-4009-baf5-cf37fdb2dbf9.vsidx
.vs/Relational Database/FileContentIndex/73e763df-77e6-4478-9587-4d891c946387.vsidx
.vs/Relational Database/FileContentIndex/64e71def-fe3a-416e-b0ec-b07851359d6f.vsidx
.vs/Relational Database/FileContentIndex/19599006-1480-46e6-be00-a2eb3502036a.vsidx
x64/Debug/Relation.A65C7731.tlog/CL.command.1.tlog
x64/Debug/Relation.A65C7731.tlog/Relational Database.lastbuildstate
x64/Debug/Relation.A65C7731.tlog/unsuccessfulbuild
x64/Debug/Relational Database.Build.CppClean.log
x64/Debug/Relational Database.log
x64/Debug/Relational Database.vcxproj.FileListAbsolute.txt
x64/Debug/Tokenizer.obj
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
.vs/Relational Database/FileContentIndex/00086c97-0984-4ef2-84a3-f493a8d114cd.vsidx
.vs/Relational Database/FileContentIndex/11e7baf1-e5ac-4a8a-a419-a6bc8edd93e2.vsidx
.vs/Relational Database/FileContentIndex/a9c71132-ef24-4ed6-a13c-59b093a4ddc4.vsidx
.vs/Relational Database/v17/ipch/AutoPCH/837dc90980431b7e/APPCONTROLLER.ipch
.vs/Relational Database/v17/ipch/AutoPCH/8fc93c186422100d/TOKENIZER.ipch
.vs/Relational Database/v17/ipch/AutoPCH/bd96ed1d5a9efd9c/MAIN.ipch
x64/Debug/Relation.A65C7731.tlog/CL.read.1.tlog
x64/Debug/Relation.A65C7731.tlog/CL.write.1.tlog
x64/Debug/Relation.A65C7731.tlog/link.command.1.tlog
x64/Debug/Relation.A65C7731.tlog/link.read.1.tlog
x64/Debug/Relation.A65C7731.tlog/link.write.1.tlog
x64/Debug/Relational Database.exe
x64/Debug/Relational Database.exe.recipe
x64/Debug/Relational Database.ilk
x64/Debug/Relational Database.pdb
x64/Debug/AppController.obj
x64/Debug/main.obj
*.vsidx
*.ipch
