
.vs/Relational Database/FileContentIndex/c5158bb9-661c-4bab-a2a0-423835b27efe.vsidx
.vs/Relational Database/FileContentIndex/read.lock
.vs/Relational Database/v17/.suo
.vs/Relational Database/v17/Browse.VC.db
.vs/Relational Database/v17/Browse.VC.db-shm
.vs/Relational Database/v17/Browse.VC.db-wal
.vs/Relational Database/v17/Browse.VC.opendb
Relational Database.sln
Relational Database.vcxproj
Relational Database.vcxproj.filters
Relational Database.vcxproj.user
